/* Common Shared styles */
body{
    font-family: 'Mulish', sans-serif;
}
h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.primary-span{
    color: #FF5400;
}
.common-description-one{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}
.common-description-two{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}
.btn-primary{
    width: 174px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    background: #FF5400;
    /* padding: 13px 35px; */
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

/* Header related styles */
.header{
    background: #FFF;
}
/* nav related styles */
nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 50px 135px;
}
.nav-title{
    text-align: center;
}
.nav-title img{
    width: 48px;
    height: 56.008px;
    text-align: center;
}
nav > ul{
    display: flex;
    align-items: center;
    gap: 44px;
}
nav li {
    list-style: none;
}
nav a {
    display: flex;
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
}
.banner{
    width: 1400px;
    height: 500px;
    border-radius: 16px;
    background-image:url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 135px;
}
.banner-linear-gradient{
    width: 1400px;
    height: 500px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}
.banner-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding: 75px 287px 0 287px;
    margin: 0;
}
.banner-description{
    color: #FFF;
    text-align: center;
    padding: 14px 247px 24px 247px;
    margin: 0;
}
.btn-select-container{
    padding: 16px;
    text-align: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 24px 185px 106px 185px;
}
.btn-select-container > button{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    background: #FFF;
    border: 0 ;
}
.btn-select-container  select{
    border: none;
    color: rgba(19, 19, 24, 0.50); 
}
#banner-btn{
    color: #FFF;
}

/* Main seleted styles */
.popular-tour{
    display: flex;
    justify-content: space-between;
    margin: 100px 135px;
    gap: 53px;
}
.popular-tour-img{
    width: 540px;
    height: 550px;
}

.destination-content{
    width: 673px;
    height: 180px;
    text-align: center;
    margin: 0 398px;
    
}
.destination-area-img{
    width: 1420px;
    margin: 48px 135px 0 135px;
    
}
.row{
    height: 300px;
    display: flex;
    gap:5px;
    margin-top: 5px;
}
.row > img{
    width: 100%;
    height: 100%;
}

#third-row{
    margin-top: 0;
}
/* relativer & absolute */
.mal-dives-img{
    position: relative;
}
.mal-dives{
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 44%;
    right: 37%;
}
.indo-img{
    position: relative;
}
.indo{
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 44%;
    right: 37%;
}
.sri-lanka-img{
    position: relative;
}
.sri-lanka{
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 44%;
    right: 37%;
}
.n-america-img{
    position: relative;
}
.n-america{
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 44%;
    right: 27%;
}
.k-mir-img{
    position: relative;
}
.k-mir{
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 44%;
    right: 27%;
}
.bd-img{
    position: relative;
}
.bd{
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 44%;
    right: 29%;
}
.b-bon-img{
    position: relative;
}
.b-bon{
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 44%;
    right: 35%;
}
.why-choose-us{
    width: 1440px;
    height: 640px;
    margin-top: 100px;
}
.row-two-content{
    text-align: center;
    padding: 0 398px;
    gap: 24px;
}
.row-two{
    display: flex;
    margin: 0 135px;
    gap:24px
}
.why-choose-one{
    width: 573px;
    height: 240px;
    border-radius: 16px;
    gap: 24px;
    padding-top: 24px;
    padding-left: 17px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.why-choose-two{
    width: 573px;
    height: 240px;
    border-radius: 16px;
    gap: 24px;
    padding-top: 24px;
    padding-left: 17px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.why-choose-three{
    width: 573px;
    height: 240px;
    border-radius: 16px;
    gap: 24px;
    padding: 24px 17px 0 17px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.last-row-two{
    margin: 24px 135px;
    padding: 0 299px;
}
.discount{
    width: 643px;
    gap: 24px;
    padding: 0 266px 0 266px;
    margin: 150px 135px;
}
/* Deals & Discount section */
.background-one{
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    padding-top: 0;
    margin: 30px 135px 12px 135px ;
    position: relative;
}
.tour-one{
    width: 400px;
    height: 270px;
    border-radius: 16px;
    padding: 50px;
    position: absolute;
    top: 10%;
    left: 50%;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}
.background-two{
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    padding-top: 0;
    margin: 30px 135px 12px 135px ;
    position: relative;
}
.tour-two{
    width: 400px;
    height: 270px;
    border-radius: 16px;
    padding: 50px;
    position: absolute;
    top: 10%;
    left: 7%;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}
.background-three{
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    padding-top: 0;
    margin: 30px 135px 12px 135px ;
    position: relative;
}
.tour-three{
    width: 400px;
    height: 270px;
    border-radius: 16px;
    padding: 50px;
    position: absolute;
    top: 10%;
    left: 50%;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}
.icon-container > small{
    color: #5A5A5D; 
}

/* Paefect video text section */
.parfect-place-video{
    display: flex;
    margin: 100px 135px; 
}
.video-text-container{
    width: 610px;
    height: 424px;
    padding-right:24px;
}
.video-container{
    width: 610px;
    height: 424px;
    border-radius: 16px;
    position: relative;
}
.video-linear-gradient{
    width: 610px;
    height: 424px;
    border-radius: 16px;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
}
.video-text{
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    top: 37%;
    left: 32%;
}
.duration{
    color: #FFF;
    padding-right: 392px;
}
.icon-container-two{
    position: absolute;
    top: 80%;
}
.icon-container-two > img{
    gap: 5px;
}
.video-hr{
    width: 562px;
    height: 4px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    position: relative;
}
.play-icon{
    position: absolute;
    bottom: 9%;
}
/* form-saveup-sticker */
.form-saveup-sticker{
    display: flex;
    margin: 0 135px;
    gap: 24px;
}
.form{
    width: 474px;
    height: 350px;
    border-radius: 16px;
    padding: 40px;
    background: #FFF;
    border: 1px solid #FF5400;
}
.form > input{
    width: 393px;
    height: 52px;
    margin: 16px 0 16px 0;
    border-radius: 8px;   
}
.email-name{
    padding-left: 5px;
    color: rgba(19, 19, 24, 0.30);
    border: 1px solid rgba(19, 19, 24, 0.05);
    background: rgba(19, 19, 24, 0.05);
}
.save-up-img{
    position: relative;
}
.save-up-sticker{
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    position: absolute;
    top: 50%;
    left: 50%;
}
.Holiday-com, .save-up{
    color: #FFF;
    text-align: center;
    margin: 0;
}
.Holiday-com{
    font-size: 24px;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 0;
}
.save-up{
    font-size: 32px;
    font-weight: 800;
    padding-top: 0;
    margin: 0;
}

@media screen and (max-width:576px) {
    
}